    <section class="case_study">
        <div class="container">
            <div class="main_heading">
                <h3>{{ section.settings.heading }}</h3>
            </div>
            <div class="row_study">
               {% for block in section.blocks %}
                <div class="col_study">
                    <div class="study_img">
                        <a href="{{ block.settings.brand_link }}">
                              <img width="520" height="246" src="{{ block.settings.brand_logo | img_url:'master'}}" alt="">
                        </a>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "Section name",
    "class": "case-study",
    "settings": [
      {
            "type":"text",
            "id":"heading",
            "label":"Heading"
      }
         
    ],
    "blocks": [
      {
        "name": "Case study Column",
        "type":"column",
        "settings": [
          {
                "type":"url",
                "id":"brand_link",
                "label":"Image Brand Link"
          },
          {
                "type":"image_picker",
                "id":"brand_logo",
                "label":"Brand Image Logo"
          }
        ]
      }
    ],
    
    "presets":[
      { "name":"Casc Study"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}