
 <section class="comp_logo">
    <div class="container">
        <div class="sec_heading">
            <h2>{{ section.settings.comp_sec_heading }}</h2>
        </div> 
        <div class="comp_sec">
          {% for block in section.blocks %}
              {% case block.type %}
              <div class="comp_row_left">
                {% when '' %}
                <div class="comp_col_img">
                    <img src="./img/slider_logo_1.svg" alt="">
                </div>
            </div>
            {% endcase %}
            {% endfor %}
            <div class="comp_row_right">
                <small>A Few More...</small>
                <div class="comp_logoes">
                    <ul class="comp_navlist">
                         {% for block in section.blocks %}
                          {% case block.type %}
                           {% when 'details' %}
                        <li><a href="{{ block.settings.list_link }}">Lorem lorem</a></li>
                          {% endcase %}
                           {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
          {
              "type":"text",
              "id":"comp_sec_heading",
              "label":"Heading"
          }
    ],
     "blocks": [
      {
        "name": "hero-col",
        "type":"hero_column",
        "settings": [
          {
            "type":"text",
            "id":"part_name",
            "label":"Part Name"
          },
          {
            "type":"text",
            "id":"sram_code",
            "label":"Code Number"
          }
        ],
        
            "type": "details",
            "name": "details_desc",
            "settings": [
            {
                "type":"text",
                "id":"smalltext",
                "label":"DEtails Name"
            },  
            {
                "type":"text",
                "id":"bigtext",
                "label":"Name of DEtails"
            }
          ]
        }
      ],
      
      "presets":[
        { "name":"Company_logo"}
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}