<section class="our_work">
        <div class="main_heading">
            <h3>Our Work</h3>
        </div>
        <div class="slider_our_work">
            <div class="our_row">
                <div class="our_col">
                    <div class="slider_detali">
                        <div class="slider_text">
                            <div class="slider_logo">
                                <img src="./img/slider_logo_1.svg" alt="">
                            </div>
                            <h4>Shopify store for a streetwear brand</h4>
                            <p>Anarchy wanted a clean and minimal website where customers could easily navigate through all the pages and most importantly, have a frictionless user experience.</p>
                        </div>
                        <div class="slider_img">
                            <img src="./img/slider_img_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>      
        </div>
</section>
{% schema %}
  {
    "name": "Our Work",
    "class": "our_work_sec",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}