<section class="our_work">
        <div class="main_heading">
            <h3>{{ section.settings.main_heading }}</h3>
        </div>
        <div class="slider_our_work">
            <div class="our_row">
               {% for block in section.blocks %}
                <div class="our_col">
                    <div class="slider_detali">
                        <div class="slider_text">
                            <div class="slider_logo">
                                <img src="./img/slider_logo_1.svg" alt="">
                            </div>
                            <h4>Shopify store for a streetwear brand</h4>
                            <p>Anarchy wanted a clean and minimal website where customers could easily navigate through all the pages and most importantly, have a frictionless user experience.</p>
                        </div>
                        <div class="slider_img">
                            <img src="./img/slider_img_1.png" alt="">
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>      
        </div>
</section>
{% schema %}
  {
    "name": "Our Work",
    "class": "our_work_sec",
    "settings": [
         {
                "type":"text",
                "id":"main_heading",
                "label":"Main Heading"
         }
    ],
     "blocks": [
      {
        "name": "inner_column",
        "type":"column",
        "settings": [
           {
            "type":"image_picker",
            "id":"offer_image",
            "label":"Offer Image"
          },
          {
            "type":"text",
            "id":"offer_coll_heading",
            "label":"Offer Collection Heading"
          },
          {
            "type":"text",
            "id":"offer_coll_desc",
            "label":"Offer Collection Description"
          },
           {
            "type":"text",
            "id":"offer_coll_btn",
            "label":"Offer Collection Button"
          },
          {
            "type":"url",
            "id":"offer_coll_link",
            "label":"Offer Collection Link"
          }
        ]
      }
    ],
    "presets":[
      { "name":"Our Work"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}