<section class="testimonials">
    <div class="container">
        <div class="tm_row">
            <div class="tm_col">
                <small>{{ section.settings.tm_small_heading }}</small>
                <h2>{{ section.settings.tm_main_heading }}</h2>
            </div>
            <div class="tm_col">
                  {% for block in section.blocks %}
                    <div class="tm_slider">
                        <div class="tm_dp">
                            <img src="{{ block.settings.tm_dp | file_url}}">
                        </div>
                        <div class="tm_text">
                            <a href="">Customer Support</a>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque alias autem quisquam porro explicabo dolorem quos, cum corporis necessitatibus repudiandae ipsum atque, nobis, placeat similique.</p>
                            <h3>kane Dowell</h3>
                            <h5>CEO, Ask Mummy & Daddy</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Testimonial_sec",
    "class": "testimonial_sec",
    "settings": [
        {
          "type":"text",
          "id":"tm_small_heading",
          "label":"Small Heading"
        },
        {
          "type":"text",
          "id":"tm_main_heading",
          "label":"Main Heading"
        }
    ],
     "blocks": [
    {
      "name": "tm_column",
      "type":"tm_column",
      "settings": [
         {
          "type":"text",
          "id":"slider_logo",
          "label":"Slider Logo"
        },
        {
          "type":"text",
          "id":"slider_heading",
          "label":"Slider Heading"
        },
        {
          "type":"richtext",
          "id":"slider_desc",
          "label":"Slider Description"
        },
        {
          "type":"text",
          "id":"brand_name",
          "label":"Brand Name"
        },
         {
          "type":"image_picker",
          "id":"slider_img",
          "label":"Slider Image"
        }
      ]
    }
  ],
  "presets":[
    { "name":"Testimonial"}
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}