<section class="welcome_work">
      <div class="container">
          <div class="wel-headiing">
              <h2></h2>
          </div>
      </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}