<section class="welcome">
        <div class="wel-wrap">
            <div class="container">
                <div class="wel-heading">
                    <h2>{{ section.settings.heading_1 }}</h2>
                    <h2>{{ section.settings.heading_2 }}</h2>
                    <h2>{{ section.settings.heading_3 }}</h2>
                    <h2>{{ section.settings.heading_4 }}</h2>
                </div>
            </div>
            <div class="wel-other">
                <div class="circle-wrap">
                    <i class="fa-solid fa-circle"></i>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="other-btn">
                            <a href="#" class="bt-1">Our Work</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="other-btn">
                            <a href="#" class="bt-1">Our Services</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="other-btn">
                            <a href="#" class="bt-1">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "class":"welcome_sec",
    "settings": [
        {
            "type":"text",
            "id":"heading_1",
            "label":"Heading 1"
        },
        {
            "type":"text",
            "id":"heading_2",
            "label":"Heading 2"
        },
        {
            "type":"text",
            "id":"heading_3",
            "label":"Heading 3"
        },
        {
            "type":"text",
            "id":"heading_4",
            "label":"Heading 4"
        }
    ],
    "presets":[
      { "name":"Welcome section"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}