<section class="welcome_work">
      <div class="container">
          <div class="wel-headiing">
              <h2>{{ section.settings.heading_1 }}</h2>
              <h2>{{ section.settings.heading_2 }}</h2>
          </div>
      </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "class": "work-welcome",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}