<section class="welcome">
        <div class="wel-wrap">
            <div class="container">
                <div class="wel-heading">
                    <h2>Meet 10X Growth.</h2>
                    <h2>Shopify Plus Agency</h2>
                    <h2>Shopify Experts, Web Design,</h2>
                    <h2>ECommerce Development Services</h2>
                </div>
            </div>
            <div class="wel-other">
                <div class="circle-wrap">
                    <i class="fa-solid fa-circle"></i>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="other-btn">
                            <a href="#" class="bt-1">Our Work</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="other-btn">
                            <a href="#" class="bt-1">Our Services</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="other-btn">
                            <a href="#" class="bt-1">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}