<section class="welcome_work">
      <div class="container">
        <div calss="work-wrap">
          <div class="wel-headiing">
              <h2>{{ section.settings.heading_1 }}</h2>
              <h2>{{ section.settings.heading_2 }}</h2>
          </div>
        </div>
      </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "class": "work-welcome",
    "settings": [
      {
          "type": "text",
          "id": "heading_1",
          "label": "Logo"
      },
      {
          "type": "text",
          "id": "heading_2",
          "label": "Logo"
      }     
    ],
    "presets":[
      { "name":"Work Welcome"}   
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}