/* GOOGLEFONT LINK START */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
/*
font-family: 'Work Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

/* GOOGLEFONT LINK START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-grey: rgba(106, 106, 106, 1);
    --color-btn-font: rgba(249, 247, 232, 1);
    --color-btn-border: rgba(36, 100, 218, 1);
    --font-heading: 'Work Sans', sans-serif;
    --font-primary: 'Libre Baskerville', serif;
}

.container {
    width: 100vw;
    max-width: 1200vw;
    margin: 0 auto;
    padding: 1vw 5vw;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.btn {
    font-family: var(--font-primary);
    font-size: .8vw;
    padding: .5vw 2vw;
    border: .1vw solid var(--color-btn-border);
    color: var(--color-btn-font);
    text-transform: capitalize;
}

/* HEADER SECTION START */
.header_sec {
    width: 100vw;
    position: sticky;
    background-color: var(--color-black);
    position: absolute;
    top: 0;
    left: 0;
}

.header_sec .header_innner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_inner .header_logo {
    width: 25vw  !important;
    line-height: 0;
}

.header_logo img {
    width:12vw;
    max-width: 50vw;
}

.plate.plate2 {
    display: none;
}

.header .navbar {
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_sec ul {
    display: inline-flex;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.header_sec ul li+li {
    margin-left: 4vw;
}

li i.fa-circle.fa-solid {
    display: block;
    font-size: .4vw;
    color: var(--color-black);
    margin-top: .5vw;
}

li:hover i.fa-circle.fa-solid {
    color: var(--color-white);
    transition: .4s all ease-in-out;
}

.header_sec .butt {
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}

.header_sec li a {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: .04vw;
    text-transform: uppercase;
}

/* WELCOME SECTION */
.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-color: var(--color-black);
}

.welcome .wel-wrap {
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container.wel-heading {
    width: 100vw;
    flex-direction: column;
}

.wel-heading h2 {
    color: var(--color-white);
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: .2vw;
    text-transform: capitalize;
}

.welcome .wel-other {
    width: 100vw;
    position: relative;
}

.wel-other .circle-wrap {
    width: 2.4vw;
    height: 10vh;
    border: .2vw solid var(--color-grey);
    margin: 0 auto;
    border-radius: 3vw;
    position: absolute;
    top: -3vw;
    left: 0;
    right: 0;
}

.wel-other .circle-wrap i {
    color: var(--color-grey);
    font-size: .4vw;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 10vh;   
}

.welcome .row {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.welcome .col {
    width: 33.33vw;
    background-color: var(--color-white);
}

.welcome .other-btn .bt-1 {
    display: block;
    text-align: center;
    padding: 2vw;
    border: .1vw solid var(--color-black);
    font-family: var(--font-primary);
    font-size: 2vw;
    letter-spacing: .2vw;
    color: var(--color-black);
    text-transform: capitalize;
}

@media (min-width: 1201px) {
    .container {
        max-width: 1920vw;
    }
}

@media (max-width: 1200px) {

    .wel-heading h2 {
        font-size: 5vw;
    }
    .welcome .wel-wrap{
        height: 55vh;
    }
    .welcome .other-btn .bt-1 {
        font-size: 3vw;
        padding: 3vw 1vw;
    }
    .wel-other .circle-wrap {
        width: 3.4vw;
        top: -4.2vw;
    }
}

@media (max-width: 999px) {
    .header_sec .butt{
        display: none;
    }
    .header_logo img {
        width: 18vw;
    }
    .header_sec ul li + li{
        margin-left: 0;
    }
    .header_sec ul li {
        padding: 5vw;
    }
    .header_sec .navbar{
        width: 100vw;
        background-color: var(--color-grey);
        position: absolute;
        top: 8vw;
        left: 0;
        display: none;
        text-align: center;
    }
    li i.fa-circle.fa-solid {
        display: none;
    }
    .header_sec ul li a {
        font-size: 3vw;
        font-weight: 500;
    }
    .header_sec ul{
        display: inline-block;
    }
    svg {
        height: 8vw;
        width: 8vw;
        position: absolute;
        top: .5vw;
        right: 4.4vw;
    }
    .plates {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-height: 13vw;
        width: 40vw;
    }
    .plate.plate2 {
        height: 6vh;
        width: 7vw;
        display: block;
    }
    .burger {
        filter: url(#gooeyness);
    }
    .x {
        transform: scale(0);
        transition: transform 400ms;
    }
    .line {
        fill: none;
        stroke: var(--color-white);
        stroke-width: .6vw;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50vw;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }
    .active .x {
        transform: scale(1);
        transition: transform 400ms 350ms;
    } 

    /* El segundo plato */
    .plate2 .line1 {
        stroke-dasharray: 21 185.62753295898438;
        transition-delay: 0;
    }
    .plate2 .line2 {
        stroke-dasharray: 21 178.6514129638672;
        transition-delay: 30ms;
    }
    .plate2 .line3 {
        stroke-dasharray: 21 197.92425537109375;
        transition-delay: 60ms;
    }
    .plate2 .line4 {
        stroke-dasharray: 21 190.6597137451172;
        transition-delay: 90ms;
    }
    .plate2 .line5 {
        stroke-dasharray: 21 208.52874755859375;
        transition-delay: 120ms;
    }
    .plate2 .line6 {
        stroke-dasharray: 21 186.59703063964844;
        transition-delay: 150ms;
    }
    .active.plate2 .line1 {
        stroke-dasharray: 5 185.62753295898438;
        stroke-dashoffset: -150px;
    }

    .active.plate2 .line2 {
        stroke-dasharray: 5 178.6514129638672;
        stroke-dashoffset: -150px;
    }

    .active.plate2 .line3 {
        stroke-dasharray: 5 197.92425537109375;
        stroke-dashoffset: -190px;
    }

    .active.plate2 .line4 {
        stroke-dasharray: 5 190.6597137451172;
        stroke-dashoffset: -170px;
    }

    .active.plate2 .line5 {
        stroke-dasharray: 5 208.52874755859375;
        stroke-dashoffset: -150px;
    }

    .active.plate2 .line6 {
        stroke-dasharray: 5 186.59703063964844;
        stroke-dashoffset: -180px;
    }

    .active.plate2 .x {
        transition: transform 400ms 250ms;
    }
    .wel-heading h2 {
        font-size: 5vw;
    }
    .welcome .other-btn .bt-1 {
        font-size: 3vw;
    }
    .wel-other .circle-wrap {
        width: 3.4vw;
        top: -4.6vw;
        height: 7vh;
    }
}
@media (max-width:1024px){
    .welcome h2 {
        font-size: 5.5vw;
    }
    .welcome .wel-wrap {
        height: 35vh;
    }
    .wel-other .circle-wrap{
        height: 6vh;
    }
    .wel-other .circle-wrap i{
        height: 6vh;
        font-size: .8vw
    }
    .welcome .other-btn .bt-1 {
        font-size: 3.8vw;
        padding: 4vw 0;
    }
    .btn {
        font-size: 1.2vw;
        padding: 1vw 3vw;
    }
    .header li a{
        font-size: 1.5vw;
        font-weight: 500;
    }
}
@media (max-width:480px) {
    .plate.plate2 {
        height: 4vh;
    } 
    .header .navbar{
        top: 10vw;
    } 
    .welcome .wel-wrap {
        height: 30vh;
    } 
    .wel-other .circle-wrap {
        width: 4.4vw;
        height: 5vh;
        top: -5vw;
    } 
    .wel-other .circle-wrap i {
        height: 5vh;
    }
    svg{
        top: 1vw;
    }
}
@media (max-width:391px){
    .wel-other .circle-wrap {
        width: 4.4vw;
        top: -6vw;
        height: 4.6vh;
    }
    .wel-other .circle-wrap i {
        height: 4.6vh;
    }
    svg{
        top: 2vw;
    }
}
@media (max-width:375px){
    svg{
        height: 9vw;
        width: 9vw;
        top: .6vw;
    }
    .line{
        stroke-width: 1.5vw;
    }
    .wel-other .circle-wrap {
        top: -4.3vw;
    }

}
